@inherits PlaylistItemsModel

<div class="d-flex flex-column ">
    @foreach (var item in YoutubeViewModelsList)
    {


        // <YoutubeVideoCardTemplate Title=@item.Title YoutubeLink=@item.VideoLink />

    <div class="card" style="width: 12rem;">
        <div class="card-header" style="background: linear-gradient(to bottom, #bfbcd6 17%,#988dd7 86%,#988dd7 86%)">
            <a href="@item.VideoLink"  target="_blank">@item.Title</a>        
        </div>
        <div class="card-body">
            <img class="card-img" src="@item.ThumbnailLink" />
        </div>        
    </div>        
        <hr />     
    }

</div>






